### C#
# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# User-specific files
*.suo
*.user

# Debug symbols
*.pdb

# NuGet Packages
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# .NET build artifacts
artifacts/

# Publish output
publish/

### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### JetBrains
# JetBrains IDE directory
.idea/

# CMake build directories
cmake-build-*/

# File-based project format
*.iws
*.iml

# IntelliJ build output
out/